@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: 220px;
}
a {
  text-decoration: none;
}
body {
  background: #111;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.list {
  margin-top: -80px;
}

.loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
